<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unisrobot.firstmodule">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".FirstMoudleMainApp"
        android:allowBackup="true"
        android:icon="@mipmap/first_module_ic_launcher"
        android:label="@string/first_module_app_name"
        android:supportsRtl="true"
        android:theme="@style/first_module_AppTheme_base"
        tools:replace="android:label">
        <activity android:name=".cameraview.AnimSurfaceActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="com.unisrobot.firstmodule.firstmudulemainactivity"
                    android:scheme="router" />
            </intent-filter>
        </activity>

        <activity android:name=".cameraview.ChildActivity"/>
    </application>

</manifest>