<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uurobot.mvpmodule">

    <application android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity android:name=".HomeActivity" />

    </application>
</manifest>
