<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uurobot.baseframe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MainApp"
        android:theme="@style/AppBaseTheme">

        <activity android:name=".activitys.TestViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activitys.SmartDoctorActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.VideoPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.ImageAnimActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.RecycleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.SmartTreeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.SmartHomeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activitys.custom.YouKuActivity"
            android:screenOrientation="landscape" />
        <!--<activity-->
        <!--android:name=".activitys.TestViewActivity"-->
        <!--android:screenOrientation="landscape" />-->
        <activity android:name=".activitys.custom.AdsViewPagerActivity" />
        <activity android:name=".activitys.shangcheng.GoodInfoActivity" />
        <!--<activity android:name=".activitys.shangcheng.GoodCarActivity" />-->
        <!-- This service is only used on devices with API v17+ -->
    </application>

</manifest>