<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uurobot.baseframe">

    <application
        android:theme="@style/Theme.AppCompat.DayNight"
        >

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
</manifest>
