<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unisrobot.robothead">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:name=".MainApp">
        <activity
            android:name=".voice.VoiceActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service android:name=".voice.VoiceService">
            <intent-filter>
                <action android:name="com.unisrobot.robothead.voiceservice" />
            </intent-filter>
        </service>

        <receiver android:name=".voice.receiver.GlobalCmdReciever">
            <intent-filter>
                <action android:name="action.wifi" />
                <action android:name="action.text" />
            </intent-filter>

        </receiver>
    </application>

</manifest>
